.list-group {
    /* surrounding of List */
    background-color: rgba(13, 110, 253, 0.15);
    border-radius: 0.8rem;
    padding: 0.5rem;
    height: fit-content;
    > .list-name {
        /* title of the list */
        font-size: 1.2rem;
    }
    .list-container {
        /* container of one list*/
        display: flex;
        flex-direction: column;
        > .button {
            margin-bottom: 0.5rem;
            height: 1.5rem;
            border-color: transparent;
            display: flex;
            flex-direction: row;
            > img {
                fill: black;
                stroke: red;
                width: 1rem;
            }
        }
        .input {
            height: 2rem;
            margin-bottom: 0.5rem;
            background-color: transparent;
            border: 1px solid rgba(0, 0, 0, 0.40);
        }
        > .lists-element {
            height: 2rem;
            display: grid;
            grid-template-columns: 0.1fr 0.9fr;
            > input {
                /* Hide the native checkbox */
                appearance: none;
                -webkit-appearance: none;
                width: 1.25rem;
                height: 1.25rem;
                background-color: transparent;
                border: 1px solid rgba(0, 0, 0, 0.40);
                border-radius: 50%;
                cursor: pointer;
                position: relative;
            }

            /* Checked state styling */
            > input:checked, > input:hover {
                background-color: #0d6efd;
                border-color: #0d6efd;
            }

            /* Add the tick mark */
            > input:hover::after {
                content: '';
                position: absolute;
                width: 6px;
                height: 12px;
                border: solid white;
                border-width: 0 1px 1px 0;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg); /* Center the tick */
            }
            > .list-element {
                > p {
                    font-size: 1rem;
                }
            }
        }
    }
}